@import "~bootstrap";

body {
    background-color: lightgray;
}

.custom-container {
    min-height: 100vh;
}

.table-header-clickable:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
    margin-right: 5px;
}