@import "~bootstrap";

body {
    background-color: lightgray;
}

.custom-container {
    min-height: 100vh;
}

.table-header-clickable:hover {
    cursor: pointer;
}

span.table-header-clickable:hover {
    text-decoration: underline;
    color: #3D87F3;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

table {
    border: 1px solid black !important;
}